.navClass {
  background-color: #001529;
  width: 100%;
  position: fixed;
  box-shadow: 5px 5px 5px rgba(0,0,0,.2);
  z-index: 10;
}
.logo {
  margin: 0px 100px 0;
}
.logo img{
  width: 84px;
  height: 60px;
  /* border: 1px solid #ccc; */
  float: left;
  /* margin: 0px 20px 0; */
}
.ant-carousel {
  position: absolute;
  top: 60px;
  width: 100%;
}
.saasWid {
  width: 100%;
}
.ant-menu-horizontal {
  line-height: 60px;
  margin-left: 45%;
}
.ant-carousel .slick-slide {
  height: 100%!important;
  line-height: 0!important;
  background: #fff!important;
}